<div class="container" style="min-height: 75vh; display: flex; justify-content: center; align-items:center;">
      <div class="card w-50">
          <h3 class="card-title p-4">Connexion</h3>
          <div class="form-group px-4">
            <label for="inputLogin">Login</label>
            <input type="login" [(ngModel)]="login" class="form-control" id="login" placeholder="Entrez votre login">
          </div>
          <div class="form-group px-4">
            <label for="inputPassword">Mot de Passe</label>
            <input type="password" class="form-control" id="password" placeholder="Mot de passe" [(ngModel)]="password">
          </div>
          <div class="text-center my-2 p-3">
            <button type="submit" class="btn btn-primary" (click)="connexion()">Connexion</button>
          </div>
          <div *ngIf="cnx && !error" class="container pt-1">
            <p class="alert alert-success">Bonjour {{ nom }} - {{ prenom }}
          </div>
          <div *ngIf="error && !cnx" class="container pt-1">
            <p class="alert alert-danger">{{error}}</p>
          </div>
      </div>
